* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  row-gap: 20px;
}
