:root {
  --color-body-background: #ffffff;
  --color-textbox-border: #dfdfdf;
  --color-keyboard-background: #f3f3f3;
  --color-key-normal-background: #ffffff;
  --color-key-normal-text: #333333;
  --color-key-hover-background: #89eeb1;
  --color-key-hover-text: #333333;
  --color-key-active-background: #0ec058;
  --color-key-active-text: #ffffff;
  --color-key-active-hover-background: #23da6f;
}
